
@media (min-width: 1200px)
	.span2 {
	  width: 120px;
	}
}


@media (max-width: 1200px) {
	.container {
		background: #fff; // yellow;
	}

	.leftside{
		width: 250px;
		padding-left: 3px;
		padding-top: 4px;
		margin-right: 1px;
	}



	.collection_list {
		float:left;
		width:35%;
	}

	.span2 {
		width: 200px;
		float:left;
	}
	.span4 {
		width:33%;
		float:left;
	}

	.span9 {
		float:left;
		width:700px;
	}

    .paywidth {
        width:0%;
    }

}

@media (min-width: 768px) and (max-width: 979px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	.container {
	  background: #fff; //  blue;
	}

	.leftside{
		position:absolute;
		top:4px;
		left:160px;
		width:180px;
		padding-left: 30px;
		padding-top: 10px;
		margin-right: 1px;
	}
	.container{
		margin-left:0;
		width: 100%;

		max-width: 100%;
	}
	  .content {
		margin-top: 0px;
		min-height: 450px;

	}

.span9 {
    float: left;
    width: 500px;
}




	.collection_list {
		float:left;
		width:40%;
	}

	.span2 {
		width: 200px;
		float:left;
		margin-left: 0;
	}

	.span2 ul{
		padding-left:0;
	}


	.span9 {
		float:left;
	}
	.paywidth {
        width:100%;
    }


}

@media (max-width: 767px) {
	body {
		padding-left: 0px;
		padding-right: 0px;  
	}
    .artname {
    	max-width: 300px; 
        text-overflow: ellipsis; 

    }
	.container {
		background: #fff; // green;
	}

	.span9 {
        width: 700px;
    }

	.leftside{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;		
		width:240px;
	}

	.img_container {
	  margin: 2px;
	}

	.nav {
		padding-top: 30px;
	}


	.container{
	   margin-left:0;
	}

	.content {
		margin-top: 0px;
		min-height: 450px;
	}

	.navbar-inner{
		min-width: 330px;
	}

	a {
		font-size:12px;

	}
	.navbar .nav > li > a {
		color: #0C0C0C;
		text-shadow: 0 1px 0 #EEEEEE;
		padding:18px;
	}



	.dropdown-menu{
		min-width: 260px;
	}

	.collection_list {
		float:left;
		width:40%;
	}

	.span2 {
		width: 174px;
		float:left;
	}

	.span9 {
		float:left;
	}
	.paywidth {
        width:100%;
    }

    .pattern_color_image_c {
    	width:50px !important; 
    }

    .mob_shop_icon {
    	margin-left: 4px; 
    	margin-top: 1px;
    }
    h4 {
    	margin-top: 1px;
    }

}

@media (max-width: 440px) {

	body {
		background-color: #fff // red;
		padding-left: 0px;
		padding-right: 0px;
	}

	.container {
		  background: #fff; //red;
	
		margin:0;
		padding:0;
	}


	.span9 {
        width: 100%;
    }

	.img_container {
	  margin: 0px;
	}

	.collection_list {
		float:left;
		width:96%;
		margin:0:
		height:350px;
	}

	.leftside {
		width: 220px;
	}

	.pagetitle{
		padding-left:20px;
	}
		.nav{
		padding-top:0;
	}
	.nav > li {
		border-bottom: 1px solid #ccc;
	}
	.price {
		font-size: 11px;
		font-style: italic;
		letter-spacing: 1px;
		padding: 4px;
		display: block;
		filter: alpha(opacity=70);
		-moz-opacity: 0.8;
		-khtml-opacity: 0.8;
		opacity: 0.8;
		background-color: white;
		-webkit-transform: skew(20deg);
		-moz-transform: skew(20deg);
		-o-transform: skew(20deg);
		transform: skew(20deg);
		letter-spacing: 2px;
		font-weight: bold;
		max-height: 38px;
		max-width: 100px;			
	}
	.artname {
		    font-size: 11px;
			text-overflow: ellipsis; 
			max-width: 300px;
			display: block;
			float: left;
			background-color: white;
			filter: alpha(opacity=70);
			-moz-opacity: 0.8;
			-khtml-opacity: 0.8;
			opacity: 0.8;
			padding: 4px;
			-webkit-transform: skew(-20deg);
			-moz-transform: skew(-20deg);
			-o-transform: skew(-20deg);
			transform: skew(-20deg);
			letter-spacing: 2px;
			font-weight: bold;
			max-height: 38px;
		 }
	.navbar-collapse {
		width: 100%;
		padding-left: 35px; /*to compensate for bootstrap -15 px left-margin*/
		padding-right: 20px; /*to compensate for bootstrap -15 px left-margin*/
	}
	.imgborder {
		 width:100px;
	}

	.image_description {
	  padding: 2px;
	  padding-top:6px;
	  padding: 0;
	  margin: 0; 
	  white-space: normal; 
	  overflow: hidden;
      height:90px;
      top:-80px;
	  position: relative;   
	  margin-bottom: -105px;
      padding-left: 20px;
      z-index:1000;
	}

	.force_image {
	  height: 100%;
	  overflow: hidden;
	}
    .mob_empty {
    	margin-left: 30px; 
    }
	.span4 {
		width:96%;
		float:left;
	}
	.input-group {
		width:295px;
	}

	.input-group .input-group-addon {
		width:75px;
	}

	.input-group .form-control {
		width:220px;
	}

   .btn-block{
		margin-right:9px;
	}

	.gallery_table{
	 	width: 100%;
	}

	.gallery_td{
	 	width: 25%;
	}

	.gallery_img{
		width: 100%; /*width of what? container or image?*/ 
		margin-top: 2px; 
		margin-bottom: 2px;
	}
	.flatpages_container img{
		width:100% !important;
		height: auto !important;
	}

	.flatpages_container p {
		padding-left:10px;
	}

	.flatpages_container h4 {
		padding-left:10px;
	}
	footer {
		padding-left:10px;
	}
   .paywidth {
        width:120%;
    }
	#P {
  		font-size: 12px;        

	}
	#C {
  		font-size: 12px;        

	}
.lb-outerContainer {
	width: 100%; height: auto;
}

}
